body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive-link {
  text-decoration: none;
  color: #4d7bde;
  padding: 10px;
  font-weight: 600;
}

.active-link {
  color: red;
  text-decoration: none;
}

.App {
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 50px;
  box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #c43ef9,
    0 0 0.8rem #c43ef9,
    inset 0 0 1.3rem #aa2edb;
}

.buttonLogin {
  background: rgb(76, 49, 214);
  background: radial-gradient(circle, rgba(76, 49, 214, 1) 0%, rgba(146, 74, 175, 1) 100%);
  border-radius: 10px;
  width: 4rem;
  height: 2rem;
  color: white;
  margin-bottom: 5px;
}

img {
  width: 200px;
  border-radius: 20px;
}

h1 {
  color: white;
}